[submodule "Semester-6/Network Laboratory/NetworkAssignment-5"]
	path = Semester-6/Network Laboratory/NetworkAssignment-5
	url = https://github.com/TheWinter-Soldier/NetworkAssignment-5.git
[submodule "Semester-6/Operating Systems Laboratory/OS_Assignment-9Ext"]
	path = Semester-6/Operating Systems Laboratory/OS_Assignment-9Ext
	url = https://github.com/TheWinter-Soldier/OS_Assignment-9Ext.git
